* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.react-chatbot-kit-chat-container {
  width: 600px;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #007acc; /* Change to your preferred shade of blue */
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #007acc; /* Change to your preferred shade of blue */
}

.react-chatbot-kit-chat-btn-send {
  background-color: #007acc; /* Change to your preferred shade of blue */
}

.ADE {
  background-color: #007acc; /* Change to your preferred shade of blue */
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 100%;
}

.start-btn {
  background-color: #007acc; /* Change to your preferred shade of blue */
  color: white;
  padding: .5rem 1rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
}

.slow-btn {
  margin-left: 1rem;
}

.img-component {
  margin-left: 3rem;
  position: relative;
}

.img-container {
  width: 185px;
  height: 185px;
  border: 2px solid #007acc; /* Change to your preferred shade of blue */
  overflow: hidden;
  border-radius: 5px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-component a {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #007acc; /* Change to your preferred shade of blue */
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
}

.img-component a:hover {
  background-color: #007acc5e; /* Change to your preferred shade of blue with desired opacity */
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
